/* RESET */

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:Arial, Helvetica, sans-serif;

background:white;

width:85%;

margin:auto;

line-height:1.6;

}

/* HEADER */

header{

margin-top:30px;

}

header h1{

background:#334335;

color:white;

text-align:center;

padding:15px;

font-size:34px;

}

nav{

background:#f4e9d5;

}

nav ul{

display:flex;

justify-content:center;

list-style:none;

}

nav ul li{

margin:15px;

}

nav ul li a{

text-decoration:none;

color:black;

font-weight:bold;

transition:.3s;

}

nav ul li a:hover{

color:#1c1aa8;

}

/* SECTIONS */

section{

padding:20px 0;

}

h2{

margin-bottom:15px;

}

h3{

margin-top:15px;

margin-bottom:8px;

}

p{

text-align:justify;

}

/* PROFILE */

.profile{

display:flex;

gap:20px;

margin-bottom:20px;

}

.picture img{

width:170px;

border:1px solid gray;

}

.info{

margin-top:10px;

}

/* TWO COLUMN */

.two-column{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

}

/* LIST */

ul{

margin-left:20px;

}

/* FAVORITES */

.favorite{

display:flex;

margin-top:20px;

align-items:flex-start;

}

.favorite img{

width:180px;

height:130px;

margin-right:20px;

border:1px solid #999;

object-fit:cover;

}

/* FOOTER */

footer{

margin-top:30px;

color:black;

justify-content:center;

padding:15px;

}

/* HORIZONTAL LINE */

hr{

margin:20px 0;

}

/* RESPONSIVE */

@media(max-width:768px){

.profile{

flex-direction:column;

}

.two-column{

grid-template-columns:1fr;

}

.favorite{

flex-direction:column;

}

.favorite img{

margin-bottom:15px;

width:100%;

height:auto;

}

nav ul{

flex-direction:column;

text-align:center;

}

}